body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: #333;
}
.btn-comprar {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.btn-comprar:hover {
    background-color: #218838;
}
.btn-detalhes {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.btn-detalhes:hover {
    background-color: #5a6268;
}
.product {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top:20px;
}
.product-details {
    max-width: 420px;
    text-align: left;
}